APP_ENV=development
BACKEND_PORT=8000
FRONTEND_PORT=3000

# Oracle legado
ORACLE_HOST=
ORACLE_PORT=
ORACLE_SERVICE=
ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_POOL_MIN=0
ORACLE_POOL_MAX=5
ORACLE_POOL_INCREMENT=1

# PostgreSQL futuro
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
