APP_ENV=development
BACKEND_PORT=8000
FRONTEND_PORT=3000

# Oracle legado
ORACLE_HOST=
ORACLE_PORT=
ORACLE_SERVICE=
ORACLE_USER=
ORACLE_PASSWORD=

# PostgreSQL futuro
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=